a
{
    color: black;
    font-family: Manrope;
    font-size: 1em;
    text-decoration: none;
}

a:hover
{ 
text-decoration: underline;

}

.important
{
    color: #A5B4FC;
}

h1,h2
{
    color: #A5B4FC;
    font-family: Montserrat;
    font-size: 3.5em;    
}

p
{
    font-family: Manrope;
    font-size: 1.1em;
}

ul
{
    font-family: Manrope;
    font-size: 1em;
    
}

div
{
    background-color: white;
}

body 
{
    background-color: rgb(22, 5, 70); /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
}

.entete
{
  background-color: white;
}

.entete img:hover
{
  opacity: 0.5;
}

.pied-de-page 
{
  background-color: white;
  border-radius: 50px;
}

.pied-de-page img:hover
{
  opacity: 0.5;
}
.cta 
{
    background-color: rgb(22, 5, 70);
    border-right: 1px #8e86b5 solid;
  border-bottom: 1px #8e86b5 solid;
  padding: 2%;
}

.important:hover 
{
background: linear-gradient(90deg, #696484,#8788BA );

}