a
{
    color: black;
    font-family: Manrope;
    font-size: 1em;
    text-decoration: none;
}

.important
{
    color: #A5B4FC;
}

h1
{
    color: #A5B4FC;
    font-family: Montserrat;
    font-size: 3.5em;    
}

p
{
    font-family: Manrope;
    font-size: 1.1em;
}

ul
{
    font-family: Manrope;
    font-size: 1em;
    
}

div
{
    background-color: white;
}

body 
{
    background-color: black; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
}

.entete,
{
  background-color: white;
}

.pied-de-page 
{
  background-color: white;
  border-radius: 50px;
}

.center 
{
  color: white;
  background-color: skyblue;
  border-right: 1px #8e86b5 solid;
  border-bottom: 1px #8e86b5 solid;
  padding: 10%;
}